.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 10px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.addButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #0055d4;
}
